.image {
    -webkit-animation:width_change 4s ease-in-out infinite;
    -moz-animation:width_change 4s ease-in-out infinite;
    animation:width_change 4s ease-in-out infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@keyframes width_change{
    0%, 100% {  
      width: 40%; 
    }
    50% {
      width: 100%;
    }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(red,purple,orange);
  margin: 0;
  padding: 0;
}

body.body-strobe {
    background : white;
    -webkit-animation:strobe 0.1s linear infinite;
    -moz-animation:strobe 0.1s linear infinite;
    animation:strobe 0.1s linear infinite;
}

#bild {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

#lob_bild {
  position: absolute;
  top: 10px;
  left: 10px;
  opacity: 0.5;
  display: none;
  width: 10%;
  height: 10%;
  z-index: 10;
}

.head {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 1100px;
  height: 100%;
  opacity: 0;
  animation: fade 10s normal forwards ease-in-out;
}

.head#glow {
  opacity: 1;
  display: none;
}

@keyframes fade {
  100% { opacity: 1 }
}

img#prippan {
  position: absolute;
  bottom: 0;
  transform: translateY(calc(100%));
  z-index: 2;
  display: none;
  right: 10%;
}

img#prippan.prippan-animate {
  animation: slideUp 10s normal forwards ease-in-out;
}

img#prippan.prippan-drink {
  animation: drink 5s infinite ease-in-out;
}

@keyframes slideUp {
  100% {
    transform: translateY(-376px);
  }
}

@keyframes drink {
  0%, 100% {
    transform: translateY(-376px) rotate(0); 
  }

  50% {
    transform: translateY(-376px) rotate(-115deg); 
  }
}

@keyframes strobe {
  50% { background:black; color:white; }
}
