.image {
    -webkit-animation:width_change 4s ease-in-out infinite;
    -moz-animation:width_change 4s ease-in-out infinite;
    animation:width_change 4s ease-in-out infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@keyframes width_change{
    0%, 100% {  
      width: 40%; 
    }
    50% {
      width: 100%;
    }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(red,purple,orange);
  margin: 0;
  padding: 0;
}
    

#bild {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
